.full-heigth{
    height: 100dvh;
}

::ng-deep .left-calendar td{
    height: 5px;
}

::ng-deep .left-calendar .fc-daygrid-day-number{
    color: black;
    text-decoration: none;
}
::ng-deep .left-calendar .fc-daygrid-day-events{
    display: none;
}
::ng-deep .left-calendar .fc-theme-standard .fc-scrollgrid, ::ng-deep .left-calendar .fc-theme-standard td, .fc-theme-standard th{
    border: none;
}
::ng-deep .left-calendar .fc-col-header-cell-cushion, ::ng-deep .fc-theme-standard th{
    border: none;
    color: black;
    text-decoration: none;
}
::ng-deep .left-calendar .fc-daygrid-day-top{
    width: fit-content;
    padding: 0;
    margin: 0;
}
::ng-deep .left-calendar .fc-daygrid-day-bg{
    display: none;
}
::ng-deep .left-calendar .fc-col-header {
    display: none;
}

::ng-deep .left-calendar .fc-scrollgrid-sync-table{
    width: 200px !important;
}