<div class="row">
    <div class="col-2 bg-dark d-flex align-items-center flex-column full-heigth text-center py-2 text-white gap-3">
            <span class="material-symbols-outlined fs-2 row-3">home</span>
            <span class="material-symbols-outlined fs-2 row-3">box</span>
            <span class="material-symbols-outlined fs-2 row-3">check_box_outline_blank</span>
    </div>
    <div class="col-10 py-2">
        <h4>Schedule </h4>
        <!-- <hr/> -->
        <div class="w-100 p-2 d-flex justify-content-center align-items-center">
            <div class="row-4 left-calendar">
                <full-calendar [options]="calendarOptions" class=""></full-calendar>
            </div>
        </div>
        <div class="row-6 py-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>