<div class="row">
    <div class="col-2 bg-dark full-heigth text-center py-2 text-white gap-3">
            <span class="material-symbols-outlined fs-2 row-3">home</span>
            <span class="material-symbols-outlined fs-2 row-3">box</span>
            <span class="material-symbols-outlined fs-2 row-3">check_box_outline_blank</span>
    </div>
    <div class="col-10 py-2">
        <div class="row-6 d-flex justify-content-center align-items-center">
            <mat-calendar></mat-calendar>
            <!-- <full-calendar [options]="calendarOptions" class="w-100 calendar"></full-calendar> -->
        </div>
        <div class="row-6 py-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>